@using ProcessingTools.Web.Constants
@using Strings = ProcessingTools.Web.Areas.Data.Resources.Continents.Views_Strings
@model ProcessingTools.Web.Areas.Data.Models.Continents.ContinentPageViewModel
@{
    this.ViewBag.Title = Model.PageTitle;
}
@if (Model?.Model != null)
{
    <section role="main">
        <header>
            <h2>@Model.PageHeading</h2>
        </header>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-6">@Html.Partial(ViewNames.ViewCommonDataPartial, Model.Model)</div>

                @if (Model.Model.Synonyms != null && Model.Model.Synonyms.Count() > 0)
                {
                    <div class="col-sm-12 col-md-6">@Html.Partial(ViewNames.ViewSynonymsPartial, Model.Model)</div>
                }

                @if (Model.Model.Countries != null && Model.Model.Countries.Count() > 0)
                {
                    <div class="col-sm-12 col-md-6">@Html.Partial(ViewNames.ViewCountriesPartial, Model.Model)</div>
                }
            </div>
        </div>
        <footer>
            <nav>
                <ul class="navigation">
                    <li>@Html.ActionLink(Strings.EditActionLinkText, ContinentsController.EditActionName, new { id = Model.Model.Id, returnUrl = Model.ReturnUrl })</li>
                    <li>@Html.ActionLink(Strings.BackToListActionLinkText, ContinentsController.IndexActionName, routeValues: new { returnUrl = Model.ReturnUrl })</li>
                </ul>
            </nav>
        </footer>
    </section>
}
