@using Strings = ProcessingTools.Web.Areas.Data.Resources.Continents.Views_Strings
@using SharedStrings = ProcessingTools.Web.Areas.Data.Resources.Shared.Views_Strings
@model ProcessingTools.Web.Areas.Data.Models.Continents.ContinentPageViewModel
@{
    this.ViewBag.Title = Model.PageTitle;
}
@if (Model?.Model != null)
{
    <section role="main">
        <header>
            <h2>@Model.PageHeading</h2>
        </header>
        <div class="section-content">

            <fieldset>
                <legend>@Strings.CommonDataSectionHeading</legend>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Model.Name)</dt>
                    <dd>@Html.DisplayFor(m => m.Model.Name)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Model.AbbreviatedName)</dt>
                    <dd>@Html.DisplayFor(m => m.Model.AbbreviatedName)</dd>
                </dl>
            </fieldset>

            @if (Model.Model.Synonyms != null && Model.Model.Synonyms.Count() > 0)
            {
                <fieldset>
                    <legend>@SharedStrings.SynonymsHeading</legend>

                    <p>@Model.Model.Synonyms</p>
                </fieldset>
            }

            @if (Model.Model.Countries != null && Model.Model.Countries.Count() > 0)
            {
                <fieldset>
                    <legend>@Strings.CountriesHeadingText</legend>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(m => m.Model.Countries.First().Name)</th>
                                <th>@Html.LabelFor(m => m.Model.Countries.First().LanguageCode)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var country in Model.Model.Countries)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => country.Name)</td>
                                    <td>@Html.DisplayFor(m => country.LanguageCode)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </fieldset>
            }

        </div>
        <footer>
            <nav>
                <ul class="navigation">
                    <li>@Html.ActionLink(Strings.EditActionLinkText, ContinentsController.EditActionName, new { id = Model.Model.Id, returnUrl = Model.ReturnUrl })</li>
                    <li>@Html.ActionLink(Strings.BackToListActionLinkText, ContinentsController.IndexActionName, routeValues: new { returnUrl = Model.ReturnUrl })</li>
                </ul>
            </nav>
        </footer>
    </section>
}
