@model ProcessingTools.Web.Models.Files.Metadata.FileMetadataViewModel

@{
    ViewData[ContextKeys.Title] = "Details";
}

<h2>Details</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.LabelFor(model => model.FileName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FileName)
    </dd>

    <dt>
        @Html.LabelFor(model => model.FileExtension)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FileExtension)
    </dd>

    <dt>
        @Html.LabelFor(model => model.ContentLength)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContentLength)
    </dd>

    <dt>
        @Html.LabelFor(model => model.ContentType)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContentType)
    </dd>

    <dt>
        @Html.LabelFor(model => model.CreatedOn)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreatedOn)
    </dd>

    <dt>
        @Html.LabelFor(model => model.ModifiedOn)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ModifiedOn)
    </dd>

    <dt>
        @Html.LabelFor(model => model.CreatedBy)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreatedBy)
    </dd>

    <dt>
        @Html.LabelFor(model => model.ModifiedBy)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ModifiedBy)
    </dd>
</dl>
