@model ProcessingTools.Web.Models.Documents.Articles.ArticleEditViewModel
@{
    ViewData[ContextKeys.Title] = "Edit Article";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Invalid view model.</div>
    }
    else
    {
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Title" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="SubTitle" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="SubTitle" class="form-control" />
                    <span asp-validation-for="SubTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="JournalId" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <select asp-for="JournalId" class="form-control">
                        @if (Model.Journals != null && Model.Journals.Any())
                {
                    foreach (var journal in Model.Journals)
                    {
                        <option value="@journal.Id">@journal.Name</option>
            }
        }
                    </select>
                    <span asp-validation-for="JournalId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="PublishedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="datetime" asp-for="PublishedOn" class="form-control" />
                    <span asp-validation-for="PublishedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="AcceptedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="datetime" asp-for="AcceptedOn" class="form-control" />
                    <span asp-validation-for="AcceptedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="ReceivedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="datetime" asp-for="ReceivedOn" class="form-control" />
                    <span asp-validation-for="AcceptedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="VolumeSeries" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="VolumeSeries" class="form-control" />
                    <span asp-validation-for="VolumeSeries" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Volume" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Volume" class="form-control" />
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Issue" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Issue" class="form-control" />
                    <span asp-validation-for="Issue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="IssuePart" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="IssuePart" class="form-control" />
                    <span asp-validation-for="IssuePart" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="ELocationId" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="ELocationId" class="form-control" />
                    <span asp-validation-for="ELocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="FirstPage" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="FirstPage" class="form-control" />
                    <span asp-validation-for="FirstPage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="LastPage" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="LastPage" class="form-control" />
                    <span asp-validation-for="LastPage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="NumberOfPages" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="NumberOfPages" class="form-control" />
                    <span asp-validation-for="NumberOfPages" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="CreatedBy" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="CreatedBy" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="IsFinalized" class="control-label"></label>
                </div>
                <div class="col-md-10">

                    <input type="datetime" asp-for="IsFinalized" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="IsDeployed" class="control-label"></label>
                </div>
                <div class="col-md-10">

                    <input type="datetime" asp-for="IsDeployed" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="CreatedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">

                    <input type="datetime" asp-for="CreatedOn" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="ModifiedBy" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="ModifiedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="datetime" asp-for="ModifiedOn" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="Save" />
                    <input type="reset" class="btn btn-default" value="Reset" />
                    <a asp-action="@(ArticlesController.IndexActionName)" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    }
    <footer class="page-navigation">
        <p><a asp-action="@(ArticlesController.IndexActionName)">Back to List</a></p>
    </footer>
</section>

@section Scripts {
    @await Html.PartialAsync(ViewNames.ValidationScriptsPartial)
}
