<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="layoutNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layout</a>
    <div class="dropdown-menu" aria-labelledby="layoutNavbarDropdown">
        <a class="dropdown-item" asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectTagStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectTagStylesController.IndexActionName)">Float Object Tag Styles</a>
        <a class="dropdown-item" asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectParseStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectParseStylesController.IndexActionName)">Float Object Parse Styles</a>
        <a class="dropdown-item" asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceTagStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceTagStylesController.IndexActionName)">Reference Tag Styles</a>
        <a class="dropdown-item" asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceParseStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceParseStylesController.IndexActionName)">Reference Parse Styles</a>
        <a class="dropdown-item" asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.JournalStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.JournalStylesController.IndexActionName)">Journal Styles</a>
    </div>
</li>
