@model ProcessingTools.Documents.Data.Models.Journal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbbreviatedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbbreviatedName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintIssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintIssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectronicIssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectronicIssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
