@model IEnumerable<ProcessingTools.Documents.Data.Models.Journal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbbreviatedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintIssn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectronicIssn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedByUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbbreviatedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintIssn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectronicIssn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedByUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
