@using ProcessingTools.Geo.Data.Models
@using ProcessingTools.Web.Common.Constants
@using ProcessingTools.Web.Documents.Areas.GeoData

@model Continent

@{
    ViewBag.Title = ContentConstants.DeafultDetailsPageTitle;
}

<h2>@ContentConstants.DeafultDetailsPageHeading</h2>

<div>
    <h4>Continent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink(ContentConstants.DefaultEditActionLinkTitle, nameof(ContinentsController.Edit), new { id = Model.Id })
        <span class="@ContentConstants.DefaultSeparatorClassName"></span>
    }

    @Html.ActionLink(ContentConstants.DefaultBackToListActionLinkTitle, nameof(ContinentsController.Index))
</p>
