@model IEnumerable<ProcessingTools.Geo.Data.Models.Continent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <span>|</span>
                }

                @Html.ActionLink("Details", "Details", new { id = item.Id })

                @if (User.Identity.IsAuthenticated)
                {
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
