@using ProcessingTools.Geo.Data.Models
@using ProcessingTools.Web.Documents.Areas.GeoData

@model IEnumerable<Continent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", nameof(ContinentsController.Create))
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", nameof(ContinentsController.Edit), new { id = item.Id })
                    <span class="deafult-separator"></span>
                }

                @Html.ActionLink("Details", nameof(ContinentsController.Details), new { id = item.Id })

                @if (User.Identity.IsAuthenticated)
                {
                    <span class="deafult-separator"></span>
                    @Html.ActionLink("Delete", nameof(ContinentsController.Delete), new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
