@using ImagingConstants = ProcessingTools.Common.Constants.ImagingConstants

@model ProcessingTools.Web.Models.Tools.Barcode.BarcodeViewModel

@{
    ViewData[ContextKeys.Title] = "Barcode Generator";
}

<section role="main" class="container">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="container">
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <div class="col-md-4 col-form-label bold">
                        <label asp-for="Width"></label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" asp-for="Width" min="@ImagingConstants.MinimalBarcodeWidth" max="@ImagingConstants.MaximalBarcodeWidth" class="form-control" />
                        <span asp-validation-for="Width" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 col-form-label bold">
                        <label asp-for="Height"></label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" asp-for="Height" min="@ImagingConstants.MinimalBarcodeHeight" max="@ImagingConstants.MaximalBarcodeHeight" class="form-control" />
                        <span asp-validation-for="Height" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 col-form-label bold">
                        <label asp-for="Type"></label>
                    </div>
                    <div class="col-md-6">
                        <select asp-for="Type" class="form-control">
                            @foreach (var type in Model.Types)
                            {
                                if (type.Key == Model.SelectedType)
                                {
                                    <option value="@(type.Key)" selected="selected">@(type.Value)</option>
                                }
                                else
                                {
                                    <option value="@(type.Key)">@(type.Value)</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Type" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 col-form-label bold">
                        <label asp-for="Content"></label>
                    </div>
                    <div class="col-md-6">
                        <textarea type="text" asp-for="Content" placeholder="Your text here" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 offset-md-4">
                        <input type="submit" value="Submit" class="btn btn-outline-secondary" />
                        <input type="reset" value="Reset" class="btn btn-outline-secondary" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div role="img" class="qr-code">
                <div class="thumbnail">
                    @if (Model?.Image != null)
                    {
                        <img src="@string.Format("data:image/png;base64,{0}", Model.Image.ToString())" alt="bar code" />
                    }
                    else
                    {
                        <div class="alternative">Barcode placeholder</div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
