<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The description of my page" />
    <title>
        @ViewBag.Title - @ContentConstants.ApplicationName
    </title>
    @Styles.Render(BundleNames.DefaultStyleBundleName)
    @RenderSection("Styles", required: false)
    @Scripts.Render(BundleNames.ModernizrScriptBundleName)
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(ContentConstants.ApplicationName, "Index", "Home", routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: null)</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Articles", "Index", "Articles", routeValues: new { area = AreasConstants.ArticlesAreaName }, htmlAttributes: null)</li>
                                    <li>@Html.ActionLink("Files", "Index", "Files", routeValues: new { area = AreasConstants.ArticlesAreaName }, htmlAttributes: null)</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Journals", "Index", "Journals", routeValues: new { area = AreasConstants.JournalsAreaName }, htmlAttributes: null)</li>
                                    <li>@Html.ActionLink("Publishers", "Index", "Publishers", routeValues: new { area = AreasConstants.JournalsAreaName }, htmlAttributes: null)</li>
                                </ul>
                            </li>
                        }
                        <li>@Html.ActionLink("About", "About", "Home", routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: null)</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: null)</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        <section role="main">
            @RenderBody()
        </section>
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - @ContentConstants.CopyrightHolder
            </p>
        </footer>
    </div>

    @Scripts.Render(BundleNames.JQueryScriptBundleName)
    @Scripts.Render(BundleNames.BootstrapScriptBundleName)
    @RenderSection("Scripts", required: false)
</body>
</html>
