@using Microsoft.AspNet.Identity
@using ProcessingTools.Web.Documents.Controllers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(nameof(AccountController.LogOff), ControllerNames.AccountControllerName, routeValues: new { area = AreasConstants.DefaultAreaName }, method: FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", nameof(ManageController.Index), ControllerNames.ManageControllerName, routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@ContentConstants.LogoutActionLinkTitle</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(ContentConstants.RegisterActionLinkTitle, nameof(AccountController.Register), ControllerNames.AccountControllerName, routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(ContentConstants.LoginActionLinkTitle, nameof(AccountController.Login), ControllerNames.AccountControllerName, routeValues: new { area = AreasConstants.DefaultAreaName }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
