@model ProcessingTools.Web.Common.ViewModels.Contracts.IPagingViewModel

@{
    if (Model.LastPage > 0)
    {
        <nav>
            <ul class="pagination">
                <li>
                    @Html.ActionLink(" ", Model.ActionName, new { p = Model.FirstPage, n = Model.NumberOfItemsPerPage }, new { @class = "glyphicon glyphicon-fast-backward" })
                </li>

                <li>
                    @Html.ActionLink(" ", Model.ActionName, new { p = Model.PreviousPage, n = Model.NumberOfItemsPerPage }, new { @class = "glyphicon glyphicon-backward" })
                </li>

                @for (long i = 0; i < Model.NumberOfPages; ++i)
                {
                    <li class="@((i == Model.CurrentPage) ? "active" : null)">
                        @Html.ActionLink((i + 1).ToString(), Model.ActionName, new { p = i, n = Model.NumberOfItemsPerPage })
                    </li>
                }

                <li>
                    @Html.ActionLink(" ", Model.ActionName, new { p = Model.NextPage, n = Model.NumberOfItemsPerPage }, new { @class = "glyphicon glyphicon-forward" })
                </li>

                <li>
                    @Html.ActionLink(" ", Model.ActionName, new { p = Model.LastPage, n = Model.NumberOfItemsPerPage }, new { @class = "glyphicon glyphicon-fast-forward" })
                </li>
            </ul>
        </nav>
    }
}
