@using Strings = ProcessingTools.Web.Resources.Areas.Data.Views.Shared.Strings
<hr />
<div role="grid">
    <h4>@Strings.SynonymsHeading <span data-bind="text: count()" class="badge"></span> <button data-bind="click: addSynonym" class="btn btn-default glyphicon glyphicon-plus" title="@Strings.AddSynonymTitle"></button></h4>
    <table data-bind="visible: count() > 0">
        <thead>
            <tr>
                <th>@Strings.SynonymTableHeading</th>
                <th>@Strings.LanguageCodeTableHeading</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: synonyms">
            <tr data-bind="visible: status() < 3">
                <td><input type="text" data-bind="value: name" class="form-control" /></td>
                <td>
                    <select data-bind="options: $root.languages(),
                            optionsText: 'code',
                            optionsValue: 'id',
                            @*optionsCaption: 'Choose...',*@
                            value: languageId" class="form-control"></select>
                </td>
                <td><a href="javascript:void(0);" data-bind="click: $root.removeSynonym" class="glyphicon glyphicon-remove" title="@Strings.RemoveSynonymTitle"></a></td>
            </tr>
        </tbody>
    </table>
</div>
<input name="synonyms" type="hidden" data-bind="value: json()" />