@model LoginWith2faViewModel
@{
    ViewData[ContextKeys.Title] = "Two-factor authentication";
}

<section role="main" class="container">
    <header>
        <h2>@(ViewData[ContextKeys.Title])</h2>
    </header>
    <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
    <div class="row">
        <section class="col-md-6">
            <form method="post" asp-route-returnUrl="@ViewData[ContextKeys.ReturnUrl]">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TwoFactorCode" class="text-danger"></label>
                    <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(m => m.TwoFactorCode)" />
                    <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMachine">
                            <input asp-for="RememberMachine" />
                            @(Html.DisplayNameFor(m => m.RememberMachine))
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
            <div class="my-4">
                <p>Don't have access to your authenticator device? You can <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData[ContextKeys.ReturnUrl]">log in with a recovery code</a>.</p>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
