@using ProcessingTools.Web.Areas.Data.Controllers
@using ProcessingTools.Web.Areas.Data.ViewModels.GeoNames
@model GeoNameViewModel

@{
    this.ViewBag.Title = "Delete";
}

<h2>@this.ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Geo Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Cancel", GeoNamesController.IndexActionName, null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", GeoNamesController.IndexActionName)
</div>
