@using ProcessingTools.Web.Areas.Data.Controllers
@using ProcessingTools.Web.Areas.Data.ViewModels.GeoNames
@using ProcessingTools.Web.Common.ViewModels
@using Strings = ProcessingTools.Web.Resources.Areas.Data.Views.GeoNames.Strings
@model ListWithPagingViewModel<GeoNameViewModel>

@{
    this.ViewBag.Title = Strings.IndexPageTitle;
}

<h2>@this.ViewBag.Title</h2>

<p>
    @Html.ActionLink(Strings.CreateActionLinkText, GeoNamesController.CreateActionName)
</p>

@if (Model.Items.Count() > 0)
{

    <table class="table grid">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th></th>
        </tr>

        @{
            string returnUrl = Url.Action(Model.ActionName, routeValues: new { p = Model.CurrentPage, n = Model.NumberOfItemsPerPage });
            int counter = 0;
            foreach (var item in Model.Items)
            {
                ++counter;
                <tr>
                    <td>@counter</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink(Strings.EditActionLinkText, GeoNamesController.EditActionName, new { id = item.Id, returnUrl = returnUrl }) |
                        @Html.ActionLink(Strings.DetailsActionLinkText, GeoNamesController.DetailsActionName, new { id = item.Id, returnUrl = returnUrl }) |
                        @Html.ActionLink(Strings.DeleteActionLinkText, GeoNamesController.DeleteActionName, new { id = item.Id, returnUrl = returnUrl })
                    </td>
                </tr>
            }
        }
    </table>
    <footer>
        @Html.Partial(ProcessingTools.Web.Constants.ViewNames.NavigationFootPartial)
    </footer>
}
