@model ProcessingTools.Web.Models.Documents.Publishers.PublisherCreateViewModel
@{
    ViewData[ContextKeys.Title] = "Create new publisher";
}

@if (Model == null)
{
    <section role="main">
        <header>
            <h2>@ViewData[ContextKeys.Title]</h2>
        </header>
        <div class="alert alert-danger">Invalid view model.</div>
    </section>
}
else
{
    <section role="main">
        <header>
            @if (string.IsNullOrWhiteSpace(Model.PageHeading))
        {
            <h2>@Html.DisplayNameFor(m => m.PageHeading)</h2>
    }
    else
    {
        <h2>@Model.PageHeading</h2>
}
        </header>
        <form asp-route-returnUrl="@ViewData[ContextKeys.ReturnUrl]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="AbbreviatedName" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="AbbreviatedName" class="form-control" />
                    <span asp-validation-for="AbbreviatedName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Address" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="Save" />
                    <input type="reset" class="btn btn-default" value="Reset" />
                    <a asp-action="@(PublishersController.IndexActionName)" asp-route-returnUrl="@ViewData[ContextKeys.ReturnUrl]" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
        <div>
            <p><a asp-action="@(PublishersController.IndexActionName)">Back to List</a></p>
        </div>
    </section>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

