@model ProcessingTools.Web.Models.Documents.Publishers.PublisherDeleteViewModel
@{
    ViewData[ContextKeys.Title] = "Delete Publisher";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<section role="main" class="container">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Invalid view model.</div>
    }
    else
    {
        <dl class="row">
            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.Name)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.Name)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.AbbreviatedName)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.AbbreviatedName)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.Address)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.Address)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.NumberOfJournals)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.NumberOfJournals)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.CreatedBy)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.CreatedBy)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.CreatedOn)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.CreatedOn)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.ModifiedBy)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.ModifiedBy)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.ModifiedOn)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.ModifiedOn)</dd>
        </dl>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <a asp-action="@(PublishersController.IndexActionName)" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </div>
        </form>
    }
    <footer class="page-navigation">
        <p><a asp-action="@(PublishersController.IndexActionName)">Back to List</a></p>
    </footer>
</section>
