@model ProcessingTools.Web.Models.Documents.Publishers.PublisherEditViewModel
@{
    ViewData[ContextKeys.Title] = "Edit Publisher";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<section role="main" class="container">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Invalid view model.</div>
    }
    else
    {
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="AbbreviatedName"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="AbbreviatedName" class="form-control" />
                    <span asp-validation-for="AbbreviatedName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="CreatedBy"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="CreatedBy" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="CreatedOn"></label>
                </div>
                <div class="col-md-10">
                    
                    <input type="datetime" asp-for="CreatedOn" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="ModifiedBy"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="ModifiedBy" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="ModifiedOn"></label>
                </div>
                <div class="col-md-10">
                    <input type="datetime" asp-for="ModifiedOn" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-outline-primary" value="Save" />
                    <input type="reset" class="btn btn-outline-secondary" value="Reset" />
                    <a asp-action="@(PublishersController.IndexActionName)" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </div>
        </form>
    }
    <footer class="page-navigation">
        <p><a asp-action="@(PublishersController.IndexActionName)">Back to List</a></p>
    </footer>
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
