@using ImagingConstants = ProcessingTools.Common.Constants.ImagingConstants

@model ProcessingTools.Web.Models.Tools.QRCode.QRCodeViewModel

@{
    ViewData[ContextKeys.Title] = "QR Code Generator";
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="container">
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <div class="col-md-4 col-form-label bold">
                        <label asp-for="PixelPerModule"></label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" asp-for="PixelPerModule" min="@ImagingConstants.MinimalQRCodePixelsPerModule" max="@ImagingConstants.MaximalQRCodePixelsPerModule" class="form-control" />
                        <span asp-validation-for="PixelPerModule" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 col-form-label bold">
                        <label asp-for="Content"></label>
                    </div>
                    <div class="col-md-6">
                        <textarea type="text" asp-for="Content" placeholder="Your text here" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 offset-md-4">
                        <input type="submit" value="Submit" class="btn btn-outline-secondary" />
                        <input type="reset" value="Reset" class="btn btn-outline-secondary" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div role="img" class="qr-code">
                <div class="thumbnail">
                    @if (Model?.Image != null)
                    {
                        <img src="@($"data:image/png;base64,{Model.Image}")" alt="QR code" />
                    }
                    else
                    {
                        <div class="alternative">QR code placeholder</div>
                    }
                </div>
            </div>
        </div>
    </div>
    <footer class="page-navigation">
        <p><a asp-action="@(ActionNames.Index)" asp-controller="@(ControllerNames.Home)">Back to List of Tools</a></p>
    </footer>
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
