@using Strings = Resources.Strings

@{
    ViewBag.Title = Strings.HelpPageTitle;
}

<header>
    <h2>
        @Strings.HelpPageHeading
    </h2>
</header>

<hr />

<section>
    <h3>Keyboard shortcuts</h3>

    <section>
        <h4>View <em>@nameof(DocumentsController.Preview)</em></h4>

        <section>
            <h5>Common</h5>
            <dl class="dl-horizontal">
                <dt>Ctrl + S</dt>
                <dd>Save document.</dd>

                <dt>Ctrl + R</dt>
                <dd>Refresh document content.</dd>

                <dt>Ctrl + B</dt>
                <dd>Wrap selected text in <kbd>bold</kbd> tag.</dd>

                <dt>Ctrl + I</dt>
                <dd>Wrap selected text in <kbd>italic</kbd> tag.</dd>

                <dt>Ctrl + U</dt>
                <dd>Wrap selected text in <kbd>underline</kbd> tag.</dd>

                <dt>Ctrl + M</dt>
                <dd>Wrap selected text in <kbd>monospace</kbd> tag.</dd>

                <dt>Ctrl + Del</dt>
                <dd>Remove all tags in selection.</dd>

                <dt>Alt + A</dt>
                <dd>Wrap selected text in <kbd>abbrev</kbd> tag.</dd>

                <dt>Alt + D</dt>
                <dd>Wrap selected text in <kbd>def/p</kbd> tag.</dd>

                <dt>Alt + C</dt>
                <dd>Wrap selected text in <kbd>locality-coordinates</kbd> tag.</dd>

                <dt>Alt + E</dt>
                <dd>Wrap selected text in <kbd>ext-link</kbd> tag.</dd>

                <dt>Escape</dt>
                <dd>Exit from <em>in-edit</em> mode.</dd>
            </dl>
        </section>

        <section>
            <h5>Bibliography</h5>
            <dl class="dl-horizontal">
                <dt>Alt + 1</dt>
                <dd>Wrap selected text in <kbd>article-title</kbd> tag.</dd>

                <dt>Alt + 2</dt>
                <dd>Wrap selected text in <kbd>chapter-title</kbd> tag.</dd>

                <dt>Alt + 3</dt>
                <dd>Wrap selected text in <kbd>trans-title</kbd> tag.</dd>

                <dt>Alt + 4</dt>
                <dd>Wrap selected text in <kbd>source</kbd> tag.</dd>

                <dt>Alt + 5</dt>
                <dd>Wrap selected text in <kbd>trans-source</kbd> tag.</dd>

                <dt>Alt + 6</dt>
                <dd>Wrap selected text in <kbd>publisher-name</kbd> tag.</dd>

                <dt>Alt + 7</dt>
                <dd>Wrap selected text in <kbd>publisher-loc</kbd> tag.</dd>

                <dt>Alt + 8</dt>
                <dd>Wrap selected text in <kbd>comment</kbd> tag.</dd>

                <dt>Alt + 9</dt>
                <dd>Wrap selected text in <kbd>person-group</kbd> tag.</dd>

                <dt>Alt + 0</dt>
                <dd>Wrap selected text in <kbd>institution</kbd> tag.</dd>

                <dt>Alt + f1</dt>
                <dd>Wrap selected text in <kbd>volume</kbd> tag.</dd>

                <dt>Alt + f2</dt>
                <dd>Wrap selected text in <kbd>issue</kbd> tag.</dd>

                <dt>Alt + f3</dt>
                <dd>Wrap selected text in <kbd>fpage</kbd> tag.</dd>

                <dt>Alt + f4</dt>
                <dd>Wrap selected text in <kbd>lpage</kbd> tag.</dd>

                <dt>Alt + f5</dt>
                <dd>Wrap selected text in <kbd>size</kbd> tag.</dd>

                <dt>Alt + f6</dt>
                <dd>Wrap selected text in <kbd>elocation-id</kbd> tag.</dd>

                <dt>Alt + f7</dt>
                <dd>Wrap selected text in <kbd>year</kbd> tag.</dd>

                <dt>Alt + f8</dt>
                <dd>Wrap selected text in <kbd>edition</kbd> tag.</dd>

                <dt>Alt + f9</dt>
                <dd>Wrap selected text in <kbd>series</kbd> tag.</dd>
            </dl>
        </section>
    </section>

    <section>
        <h4>View <em>@nameof(DocumentsController.Edit)</em></h4>
        <dl class="dl-horizontal">
            <dt>Ctrl + S</dt>
            <dd>Save document.</dd>

            <dt>Ctrl + R</dt>
            <dd>Refresh document content.</dd>
        </dl>
    </section>
</section>

<section>
    <h3>View <em>@nameof(DocumentsController.Preview)</em></h3>
    <p>Double click on elements <kbd>p</kbd>, <kbd>td</kbd>, <kbd>th</kbd> to make them content-editable. Click outside (blur) to exit from edit mode.</p>
</section>

<hr />

<footer>
    <p>
        @Html.ActionLink(Strings.DefaultBackToListActionLinkTitle, nameof(DocumentsController.Index))
    </p>
</footer>
