@using Strings = Resources.Strings

@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = Strings.InvalidNumberOfItemsPerPagePageTitle;
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3>@Strings.InvalidNumberOfItemsPerPagePageHeading</h3>

<p>
    @Model.SourceAction.Message
</p>

<hr />

<p>@string.Format(Strings.InvalidNumberOfItemsPerPageMessageFormat, 1, @ProcessingTools.Common.Constants.PagingConstants.MaximalItemsPerPageAllowed)</p>

<p>@Strings.GoBackAndTryAgainMessage</p>
<p>
    @Html.ActionLink(
        Model.SourceAction.ActionLinkText,
        Model.SourceAction.ActionName,
        Model.SourceAction.ControllerName,
        routeValues: new { area = Model.SourceAction.AreaName },
        htmlAttributes: null)
</p>

@Html.Partial(ViewNames.ErrorFootPartialViewName)
