@using ProcessingTools.Web.Abstractions.Controllers
@using ProcessingTools.Web.Constants
@using ProcessingTools.Web.Controllers
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = AreaNames.DefaultArea }, htmlAttributes: new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", BaseMvcController.IndexActionName)</li>
                <li>@Html.ActionLink("About", HomeController.AboutActionName, HomeController.ControllerName, new { area = AreaNames.DefaultArea }, htmlAttributes: null)</li>
                <li>@Html.ActionLink("Contact", HomeController.ContactActionName, HomeController.ControllerName, new { area = AreaNames.DefaultArea }, htmlAttributes: null)</li>
            </ul>
            @Html.Partial(ViewNames.DefaultLoginPartial)
        </div>
    </div>
</div>