@model ExternalLoginViewModel
@{
    ViewData[ContextKeys.Title] = "Register";
}

<section role="main" class="container">
    <header>
        <h2>@(ViewData[ContextKeys.Title])</h2>
    </header>
    <p class="text-info my-3">You've successfully authenticated with <strong>@(ViewData[ContextKeys.LoginProvider])</strong>. Please enter an email address for this site below and click the Register button to finish logging in.</p>
    <div class="row">
        <section class="col-md-6 my-3">
            <header>
                <h4>Associate your @(ViewData[ContextKeys.LoginProvider]) account.</h4>
            </header>
            <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData[ContextKeys.ReturnUrl]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
