@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData[ContextKeys.Title] = "Log in";
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    bool hasLoginProviders = loginProviders.Count > 0;
}

<section role="main" class="container">
    <header>
        <h2>@(ViewData[ContextKeys.Title])</h2>
    </header>
    <div class="row">
        <section class="col-md-6 my-3">
            <header>
                <h4>Use a local account to log in.</h4>
            </header>
            <form asp-route-returnurl="@ViewData[ContextKeys.ReturnUrl]" method="post" class="form-login">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Password)" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @(Html.DisplayNameFor(m => m.RememberMe))
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
                <div class="form-group">
                    <p><a asp-action="ForgotPassword">Forgot your password?</a></p>
                    <p><a asp-action="Register" asp-route-returnurl="@ViewData[ContextKeys.ReturnUrl]">Register as a new user?</a></p>
                </div>
            </form>
        </section>
        <section class="col-md-6 my-3">
            <header>
                <h4>Use another service to log in.</h4>
            </header>
            @if (!hasLoginProviders)
            {
                <p>There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a> for details on setting up this ASP.NET application to support logging in via external services.</p>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData[ContextKeys.ReturnUrl]" method="post" class="form-horizontal">
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="btn btn-outline-secondary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                        }
                    </p>
                </form>
            }
        </section>
    </div>
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
