@using ProcessingTools.Web.Constants
@using Bundles = ProcessingTools.Common.Constants.Web.BundleNames
@using Strings = ProcessingTools.Web.Areas.Data.Resources.Continents.Views_Strings
@model ProcessingTools.Web.Models.Geo.Continents.ContinentPageViewModel
@{
    this.ViewBag.Title = Model.PageTitle;
    this.ViewData[ContextKeys.Url] = Url.Action(actionName: ContinentsController.SynonymsActionName, controllerName: ContinentsController.ControllerName, routeValues: new { id = Model?.Model?.Id });
}
<section role="main">
    <header>
        <h2>@Model.PageHeading</h2>
    </header>
    @using (Html.BeginForm())
    {
        @Html.Partial(ViewNames.EditButtonsPartial, Model, this.ViewData)
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-7">@Html.Partial(ViewNames.EditCommonDataPartial, Model)</div>
                <div class="col-sm-12 col-md-5">@Html.Partial(ViewNames.EditSynonymsPartial, Model)</div>
            </div>
        </div>
    }
    <footer>
        <nav>
            <ul class="navigation">
                <li>@Html.ActionLink(Strings.BackToListActionLinkText, ContinentsController.IndexActionName, routeValues: new { returnUrl = Model.ReturnUrl })</li>
            </ul>
        </nav>
    </footer>
</section>
@section Scripts {
    @Scripts.Render(Bundles.JQueryValidationScripts)
    @Scripts.Render(Bundles.KnockoutScripts)
    <script src="~/Scripts/Areas/Data/Models/Shared/Synonym.js"></script>
    <script src="~/Scripts/Areas/Data/Models/Shared/Language.js"></script>
    <script src="~/Scripts/Areas/Data/ViewModels/Shared/SynonymViewModel.js"></script>
    <script>
        window.jsonRequester.get('@(this.ViewData[ContextKeys.Url]?.ToString())')
            .then(function (data) {
                ko.applyBindings(new SynonymViewModel(data));
                $('#synonyms-grid').show();
            })
            .catch(function (error) {
                ko.applyBindings(new SynonymViewModel());
                $('#synonyms-grid').show();
            });
    </script>
}
