@using Strings = ProcessingTools.Web.Areas.Data.Resources.Continents.Views_Strings
@model ProcessingTools.Web.Models.Geo.Continents.ContinentsIndexPageViewModel

@{
    ViewBag.Title = Model.PageTitle;
    var model = Model.Model;
}

<section role="main">
    <header>
        <h2>@Model.PageHeading</h2>
    </header>
    <p>@Html.ActionLink(Strings.CreateActionLinkText, ContinentsController.CreateActionName)</p>
    @if (model.Items.Count() > 0)
    {
        <div class="container grid">
            <div class="row grid-header">
                <div class="hidden-xs col-sm-1 col-md-1 counter">#</div>
                <div class="col-xs-6 col-sm-4 col-md-4">@Html.DisplayNameFor(m => m.Model.Items.First().Name)</div>
                <div class="col-xs-6 col-sm-7 col-md-7">@Html.DisplayNameFor(m => m.Model.Items.First().NumberOfCountries)</div>
            </div>
            @{
                string returnUrl = Url.Action(model.ActionName, routeValues: new { p = model.CurrentPage, n = model.NumberOfItemsPerPage });
                int counter = 0;
                foreach (var item in model.Items)
                {
                    ++counter;
                    <div class="row grid-row">
                        <div class="hidden-xs col-sm-1 col-md-1 counter">@(model.CurrentPage * model.NumberOfItemsPerPage + counter)</div>
                        <div class="col-xs-6 col-sm-4 col-md-4">@Html.DisplayFor(i => item.Name)</div>
                        <div class="col-xs-6 col-sm-3 col-md-3">@Html.DisplayFor(i => item.NumberOfCountries)</div>
                        <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
                            <ul class="navigation">
                                <li>@Html.ActionLink(Strings.EditActionLinkText, ContinentsController.EditActionName, new { id = item.Id, returnUrl = returnUrl })</li>
                                <li>@Html.ActionLink(Strings.DetailsActionLinkText, ContinentsController.DetailsActionName, new { id = item.Id, returnUrl = returnUrl })</li>
                                <li>@Html.ActionLink(Strings.DeleteActionLinkText, ContinentsController.DeleteActionName, new { id = item.Id, returnUrl = returnUrl })</li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
        <footer>
            @Html.Partial(ProcessingTools.Web.Constants.ViewNames.NavigationFootPartial)
        </footer>
    }
</section>
