@model ProcessingTools.Web.Documents.Areas.Journals.ViewModels.Publishers.PublisherCreateViewModel

@{
    ViewBag.Title = Resources.Strings.DeafultCreatePageTitle;
}

@Styles.Render(BundleNames.AddressListStyleBundleName)

@Scripts.Render(BundleNames.AngularScriptBundleName)
@Scripts.Render(BundleNames.AddressListScriptBundleName)

<header>
    <h2>
        @Resources.Strings.DeafultCreatePageHeading
    </h2>
</header>

<section>
    <header>
        <h4>
            @InstanceNames.PublishersControllerInstanceName
        </h4>
    </header>

    <hr />

    <div ng-app="addressApp">
        <div ng-cloak ng-controller="AddressListController as addressList">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AbbreviatedName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AbbreviatedName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AbbreviatedName, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group animate-if" ng-if="addressList.addresses.length">
                        <label class="control-label col-md-2">Addresses</label>
                        <div class="col-md-10">
                            <ul class="address-list">
                                <li ng-repeat="address in addressList.addresses | orderBy: 'addressString'">
                                    <input type="hidden"
                                           name="@(nameof(Model.Addresses)).Index"
                                           value="{{address.id}}" />
                                    <input type="text"
                                           name="@(nameof(Model.Addresses))[{{address.id}}].AddressString"
                                           value="{{address.addressString}}"
                                           readonly="readonly"
                                           class="address-string" />
                                    <input type="text"
                                           name="@(nameof(Model.Addresses))[{{address.id}}].CityId"
                                           value="{{address.cityId}}"
                                           readonly="readonly"
                                           class="address-city-id" />
                                    <input type="text"
                                           name="@(nameof(Model.Addresses))[{{address.id}}].CountryId"
                                           value="{{address.countryId}}"
                                           readonly="readonly"
                                           class="address-country-id" />
                                    <span ng-click="addressList.removeAddress(address.id)" class="glyphicon glyphicon-remove remove-button" title="Remove"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <hr />
            <h4>Add Address</h4>
            <form ng-submit="addressList.addAddress()" class="form-horizontal col-md-offset-2 col-md-10">
                <div class="form-group">
                    <div class="input-group">
                        @Html.Label(
                            "address-string",
                            "Address string",
                            htmlAttributes: new
                            {
                                @class = "input-group-addon"
                            })

                        @Html.TextBox(
                            "address-string",
                            null,
                            htmlAttributes: new
                            {
                                ng_model = "addressList.addressString",
                                size = 30,
                                placeholder = "add address string here",
                                @class = "form-control"
                            })
                    </div>

                    <div class="input-group">
                        @Html.Label(
                            "country-id",
                            "Country",
                            htmlAttributes: new
                            {
                                @class = "input-group-addon"
                            })

                        @Html.DropDownList(
                            "country-id",
                            Model.Countries,
                            htmlAttributes: new
                            {
                                ng_model = "addressList.countryId",
                                @class = "form-control"
                            })
                    </div>

                    <div class="input-group">
                        @Html.Label(
                            "city-id",
                            "City",
                            htmlAttributes: new
                            {
                                @class = "input-group-addon"
                            })

                        @Html.DropDownList(
                            "city-id",
                            Model.Cities,
                            htmlAttributes: new
                            {
                                ng_model = "addressList.cityId",
                                @class = "form-control"
                            })
                    </div>
                    <input class="btn btn-primary" type="submit" value="add" />
                </div>
            </form>

        </div>
    </div>
</section>
@Html.Partial(ViewNames.BackToListFooterPartialViewName)
