@using ProcessingTools.Web.Areas.Data.Controllers
@using ProcessingTools.Web.Areas.Data.ViewModels.GeoNames
@using Strings = ProcessingTools.Web.Resources.Areas.Data.Views.GeoNames.Strings
@model GeoNamePageViewModel

@{
    this.ViewBag.Title = Model.PageTitle;
}

<header>
    <h2>@Model.PageHeading</h2>
</header>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.Model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Strings.EditActionLinkText, GeoNamesController.EditActionName, new { id = Model.Model.Id, returnUrl = Model.ReturnUrl }) |
    @Html.ActionLink(Strings.BackToListActionLinkText, GeoNamesController.IndexActionName, routeValues: new { returnUrl = Model.ReturnUrl })
</p>
