@using ProcessingTools.Web.Common.ViewModels
@using Strings = ProcessingTools.Web.Resources.Areas.Data.Views.GeoNames.Strings
@model ListWithPagingViewModel<ProcessingTools.Web.Areas.Data.Models.GeoNames.GeoNameViewModel>

@{
    this.ViewBag.Title = Strings.IndexPageTitle;
}

<h2>@this.ViewBag.Title</h2>

<p>
    @Html.ActionLink(Strings.CreateActionLinkText, GeoNamesController.CreateActionName)
</p>

@if (Model.Items.Count() > 0)
{
    <div class="container grid">
        <div class="row grid-header">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-7 col-sm-7 col-md-7"><strong>@Html.DisplayNameFor(model => model.Items.First().Name)</strong></div>
            <div class="col-xs-4 col-sm-4 col-md-4"></div>
        </div>
        @{
            string returnUrl = Url.Action(Model.ActionName, routeValues: new { p = Model.CurrentPage, n = Model.NumberOfItemsPerPage });
            int counter = 0;
            foreach (var item in Model.Items)
            {
                ++counter;
                <div class="row grid-row">
                    <div class="col-xs-1 col-sm-1 col-md-1">@(Model.CurrentPage * Model.NumberOfItemsPerPage + counter)</div>
                    <div class="col-xs-11 col-sm-7 col-md-7">@Html.DisplayFor(modelItem => item.Name)</div>
                    <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
                        @Html.ActionLink(Strings.EditActionLinkText, GeoNamesController.EditActionName, new { id = item.Id, returnUrl = returnUrl }) |
                        @Html.ActionLink(Strings.DetailsActionLinkText, GeoNamesController.DetailsActionName, new { id = item.Id, returnUrl = returnUrl }) |
                        @Html.ActionLink(Strings.DeleteActionLinkText, GeoNamesController.DeleteActionName, new { id = item.Id, returnUrl = returnUrl })
                    </div>
                </div>
            }
        }
    </div>
    <footer>
        @Html.Partial(ProcessingTools.Web.Constants.ViewNames.NavigationFootPartial)
    </footer>
}
