@model ProcessingTools.Web.Models.Documents.Documents.DocumentEditViewModel
@{
    ViewData[ContextKeys.Title] = "Edit Document";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
        <h3>@(Model?.Article?.ArticleTitle) (@(Model?.Article?.JournalName))</h3>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Invalid view model.</div>
    }
    else
    {
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ArticleId" />
            <input type="hidden" asp-for="FileId" />
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Description" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="File.FileName" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="File.FileName" class="form-control" />
                    <span asp-validation-for="File.FileName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="File.ContentType" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="File.ContentType" class="form-control" />
                    <span asp-validation-for="File.ContentType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="File.ContentLength" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="File.ContentLength" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="IsFinal" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="IsFinal" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="CreatedBy" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="CreatedBy" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="CreatedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">

                    <input type="datetime" asp-for="CreatedOn" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="ModifiedBy" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="ModifiedOn" class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <input type="datetime" asp-for="ModifiedOn" class="form-control disabled" disabled="disabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="Save" />
                    <input type="reset" class="btn btn-default" value="Reset" />
                    <a asp-action="@(DocumentsController.IndexActionName)" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    }
    <footer class="page-navigation">
        <p><a asp-controller="@(ArticlesController.ControllerName)" asp-action="@(ArticlesController.DocumentsActionName)" asp-route-id="@(Model.ArticleId)">Back to Documents</a></p>
    </footer>
</section>

@section Scripts {
    @await Html.PartialAsync(ViewNames.ValidationScriptsPartial)
}
