@model ProcessingTools.Web.Models.Documents.Documents.DocumentEditViewModel
@{
    ViewData[ContextKeys.Title] = "Edit Document";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
        <h3>@(Model?.Article?.ArticleTitle) (@(Model?.Article?.JournalName))</h3>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Invalid view model.</div>
    }
    else
    {
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ArticleId" />
            <input type="hidden" asp-for="FileId" />
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="File.FileName"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="File.FileName" class="form-control" />
                    <span asp-validation-for="File.FileName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="File.ContentType"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="File.ContentType" class="form-control" />
                    <span asp-validation-for="File.ContentType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(m => m.File.ContentLength)</label>
                </div>
                <div class="col-md-10">
                    <span class="form-control disabled" disabled="disabled">@Html.DisplayFor(m => m.File.ContentLength)</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(m => m.IsFinal)</label>
                </div>
                <div class="col-md-10">
                    <span class="form-control disabled" disabled="disabled">@Html.DisplayFor(m => m.IsFinal)</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(m => m.CreatedBy)</label>
                </div>
                <div class="col-md-10">
                    <span class="form-control disabled" disabled="disabled">@Html.DisplayFor(m => m.CreatedBy)</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(m => m.CreatedOn)</label>
                </div>
                <div class="col-md-10">
                    <span class="form-control disabled" disabled="disabled">@Html.DisplayFor(m => m.CreatedOn)</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(m => m.ModifiedBy)</label>
                </div>
                <div class="col-md-10">
                    <span class="form-control disabled" disabled="disabled">@Html.DisplayFor(m => m.ModifiedBy)</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(m => m.ModifiedOn)</label>
                </div>
                <div class="col-md-10">
                    <span class="form-control disabled" disabled="disabled">@Html.DisplayFor(m => m.ModifiedOn)</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-outline-primary" value="Save" />
                    <input type="reset" class="btn btn-outline-secondary" value="Reset" />
                    <a asp-controller="@(ArticlesController.ControllerName)" asp-action="@(ArticlesController.DocumentsActionName)" asp-route-id="@(Model.ArticleId)" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </div>
        </form>
        <footer class="page-navigation">
            <p><a asp-controller="@(ArticlesController.ControllerName)" asp-action="@(ArticlesController.DocumentsActionName)" asp-route-id="@(Model.ArticleId)">Back to Documents</a></p>
        </footer>
    }
</section>

@section Scripts {
    <partial name="@ViewNames.ValidationScriptsPartial" />
}
