@model ProcessingTools.Web.Models.Documents.Documents.DocumentHtmlViewModel
@{
    ViewData[ContextKeys.Title] = "Document Preview";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

@section Styles {
    <link rel="stylesheet" href="~/node_modules/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="~/node_modules/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/build/dist/css/toolbox.css" />
    <link rel="stylesheet" href="~/build/dist/css/document-preview.css" />
}

<div asp-validation-summary="All" class="text-danger"></div>

<nav class="navbar fixed-bottom navbar-light bg-light navbar-expand-md">
    <div class="container">
        <a asp-action="@(DocumentsController.HtmlActionName)" asp-route-id="@(Model.Id)" asp-route-articleId="@(Model.ArticleId)" asp-route-returnUrl="@Model.ReturnUrl" class="navbar-brand">HTML</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTools" aria-controls="navbarTools" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTools">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" asp-action="@(DocumentsController.XmlActionName)" asp-route-id="@(Model.Id)" asp-route-articleId="@(Model.ArticleId)" asp-route-returnUrl="@Model.ReturnUrl" target="_blank">XML</a></li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" href="#" id="manualActionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manual actions</a>
                    <div class="dropdown-menu" aria-labelledby="manualActionsDropdown">
                        <a class="dropdown-item" id="move-floating-objects">Move floating objects</a>
                        <a class="dropdown-item" id="tag-figures-citations-menu-item">Figures citations</a>
                        <a class="dropdown-item" id="tag-tables-citations-menu-item">Tables citations</a>
                        <a class="dropdown-item" id="tag-suppl-materials-citations-menu-item">Suppl. materials citations</a>
                        <a class="dropdown-item" id="tag-appendices-citations-menu-item">Appendices citations</a>
                        <a class="dropdown-item" id="tag-bibliographic-citations-menu-item">Bibliographic citations</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" href="#" id="windowsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Window</a>
                    <div class="dropdown-menu" aria-labelledby="windowsDropdown">
                        <a class="dropdown-item" id="window-map">Map</a>
                        <a class="dropdown-item" id="window-coordinates">Coordinates</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" asp-action="@DocumentsController.DownloadActionName" asp-route-id="@Model.Id" asp-route-articleId="@Model.ArticleId">Download</a></li>
                <li class="nav-item"><a class="nav-link" id="refresh-button">Refresh</a></li>
                <li class="nav-item"><a class="nav-link" id="save-button">Save</a></li>
            </ul>
        </div>
    </div>
</nav>

<article id="article" contextmenu="supermenu"></article>
<div class="clearfix"></div>
<aside id="aside-main-box"></aside>
<aside style="display: none;">
    <a id="get-link" asp-action="@DocumentsController.GetHtmlActionName" asp-route-id="@Model.Id" asp-route-articleId="@Model.ArticleId">_</a>
    <a id="save-link" asp-action="@DocumentsController.SetHtmlActionName" asp-route-id="@Model.Id" asp-route-articleId="@Model.ArticleId">_</a>
</aside>

@section Scripts {
    <script src="~/node_modules/crypto-js/crypto-js.js"></script>
    <script src="~/node_modules/crypto-js/sha1.js"></script>
    <script src="~/node_modules/handlebars/dist/handlebars.js"></script>
    <script src="~/node_modules/interactjs/dist/interact.js"></script>
    <script src="~/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="~/node_modules/toastr/build/toastr.min.js"></script>
    <script src="~/build/dist/js/apps/document-preview.min.js"></script>
}

<menu type="context" id="supermenu">
    <menuitem id="menu-item-refresh" label="Refresh"></menuitem>
    <menu id="menu-item-bibliography" label="Bibliography">
        @{
            var tags = new[] { "article-title", "annotation", "chapter-title", "comment", "collab", "conf-date", "conf-loc", "conf-name", "conf-sponsor", "date", "date-in-citation", "day", "edition", "elocation-id", "email", "etal", "ext-link", "fpage", "given-names", "gov", "institution", "isbn", "issn", "issue", "issue-id", "issue-part", "issue-title", "lpage", "milestone-end", "milestone-start", "month", "name", "object-id", "person-group", "publisher-loc", "publisher-name", "page-range", "part-title", "patent", "prefix", "pub-id", "role", "source", "season", "series", "size", "std", "string-name", "sub", "sup", "suffix", "supplement", "surname", "trans-source", "trans-title", "uri", "volume", "volume-id", "volume-series", "year" };
            foreach (var tag in tags)
            {
                <menuitem id="menu-item-@tag" label="@tag"></menuitem>
            }
        }
    </menu>
    <menuitem id="menu-item-tag-link" label="Tag link"></menuitem>
    <menuitem id="menu-item-tag-coordinate" label="Tag coordinate"></menuitem>
</menu>
