@model ProcessingTools.Web.Models.Documents.Documents.DocumentXmlViewModel
@{
    ViewData[ContextKeys.Title] = "Edit Document";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<div asp-validation-summary="All" class="text-danger"></div>

@*<code><pre>@(Model?.Content)</pre></code>*@

@section Styles {
    <link rel="stylesheet" href="~/node_modules/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/build/dist/css/document-edit.css" />
}

<nav class="navbar fixed-bottom navbar-light bg-light navbar-expand-md">
    <div class="container">
        <a asp-action="@(DocumentsController.XmlActionName)" asp-route-id="@(Model.Id)" asp-route-articleId="@(Model.ArticleId)" asp-route-returnUrl="@Model.ReturnUrl" class="navbar-brand">XML</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTools" aria-controls="navbarTools" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTools">
            <ul class="navbar-nav">
                <li class="nav-item"><a asp-action="@(DocumentsController.HtmlActionName)" asp-route-id="@(Model.Id)" asp-route-articleId="@(Model.ArticleId)" asp-route-returnUrl="@Model.ReturnUrl" target="_blank" class="nav-link">HTML</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-auto">
                <div class="input-group mx-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="language-picker" id="language-picker-label">Language</label>
                    </div>
                    <select class="form-control language-picker" name="language-picker" id="language-picker" aria-label="Language Picker" aria-describedby="language-picker-label"></select>
                </div>
                <div class="input-group mx-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="theme-picker" id="theme-picker-label">Theme</label>
                    </div>
                    <select class="form-control theme-picker" name="theme-picker" id="theme-picker" aria-label="Theme picker" aria-describedby="theme-picker-label"></select>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item"><a asp-action="@DocumentsController.DownloadActionName" asp-route-id="@Model.Id" asp-route-articleId="@Model.ArticleId" class="nav-link">Download</a></li>
                <li class="nav-item"><a id="refresh-button" class="nav-link">Refresh</a></li>
                <li class="nav-item"><a id="save-button" class="nav-link">Save</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="editor-container"></div>
<div class="clearfix"></div>
<aside style="display: none;">
    <a id="get-link" asp-action="@DocumentsController.GetXmlActionName" asp-route-id="@Model.Id" asp-route-articleId="@Model.ArticleId">_</a>
    <a id="save-link" asp-action="@DocumentsController.SetXmlActionName" asp-route-id="@Model.Id" asp-route-articleId="@Model.ArticleId">_</a>
</aside>

@section Scripts {
    <script src="~/node_modules/crypto-js/crypto-js.js"></script>
    <script src="~/node_modules/crypto-js/sha1.js"></script>
    <script src="~/node_modules/toastr/build/toastr.min.js"></script>
    <script src="~/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="~/build/dist/js/apps/document-edit.min.js"></script>
}
