@using Strings = Resources.Strings
@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.FileDetailsViewModel

@{
    ViewBag.Title = Strings.DeafultDetailsPageTitle;
}

<header>
    <h2>
        @Strings.DeafultDetailsPageHeading
    </h2>
</header>

@Html.Partial(ViewNames.DetailsPartialViewName)

<hr />

<footer>
    <nav class="separated-items">
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultBackToListActionLinkTitle,
                actionName: nameof(FilesController.Index))
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.PreviewDocumentActionLinkTitle,
                actionName: nameof(DocumentsController.Preview),
                controllerName: ControllerNames.DocumentsControllerName,
                routeValues: new { id = Model.DocumentId },
                htmlAttributes: null)
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.EditDocumentActionLinkTitle,
                actionName: nameof(DocumentsController.Edit),
                controllerName: ControllerNames.DocumentsControllerName,
                routeValues: new { id = Model.DocumentId },
                htmlAttributes: null)
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultEditActionLinkTitle,
                actionName: nameof(FilesController.Edit),
                routeValues: new { id = Model.DocumentId },
                htmlAttributes: null)
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultDeleteActionLinkTitle,
                actionName: nameof(FilesController.Delete),
                routeValues: new { id = Model.DocumentId })
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultDownloadActionLinkTitle,
                actionName: nameof(FilesController.Download),
                routeValues: new { id = Model.DocumentId })
        </span>
    </nav>
</footer>
