@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentDetailsViewModel

@{
    ViewBag.Title = Resources.Strings.DeafultDetailsPageTitle;
}

<header>
    <h2>
        @Resources.Strings.DeafultDetailsPageHeading
    </h2>
</header>

@Html.Partial(ViewNames.DetailsPartialViewName)

<hr />

<footer>
    <nav class="separated-items">
        <span class="item">
            @Html.ActionLink(
                linkText: Resources.Strings.DefaultBackToListActionLinkTitle,
                actionName: nameof(FilesController.Index))
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Resources.Strings.DefaultPreviewActionLinkTitle,
                actionName: nameof(DocumentsController.Preview),
                controllerName: ControllerNames.DocumentsControllerName,
                routeValues: new { id = Model.Id },
                htmlAttributes: null)
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Resources.Strings.DefaultEditActionLinkTitle,
                actionName: nameof(DocumentsController.Edit),
                controllerName: ControllerNames.DocumentsControllerName,
                routeValues: new { id = Model.Id },
                htmlAttributes: null)
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Resources.Strings.DefaultDeleteActionLinkTitle,
                actionName: nameof(FilesController.Delete),
                routeValues: new { id = Model.Id })
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Resources.Strings.DefaultDownloadActionLinkTitle,
                actionName: nameof(FilesController.Download),
                routeValues: new { id = Model.Id })
        </span>
    </nav>
</footer>
