@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentDetailsViewModel

@{
    ViewBag.Title = Resources.Strings.DeafultDetailsPageTitle;
}

<header>
    <h2>
        @Resources.Strings.DeafultDetailsPageHeading
    </h2>
</header>

@Html.Partial(ViewNames.DetailsPartialViewName)

<hr />

<footer>
    <nav class="separated-items">
        <span class="item">
            @Html.ActionLink(Resources.Strings.DefaultBackToListActionLinkTitle, nameof(FilesController.Index))
        </span>
        <span class="item">
            @Html.ActionLink(Resources.Strings.DefaultPreviewActionLinkTitle, nameof(FilesController.Preview), new { id = Model.Id })
        </span>
        <span class="item">
            @Html.ActionLink(Resources.Strings.DefaultEditActionLinkTitle, nameof(FilesController.Edit), new { id = Model.Id })
        </span>
        <span class="item">
            @Html.ActionLink(Resources.Strings.DefaultDeleteActionLinkTitle, nameof(FilesController.Delete), new { id = Model.Id })
        </span>
        <span class="item">
            @Html.ActionLink(Resources.Strings.DefaultDownloadActionLinkTitle, nameof(FilesController.Download), new { id = Model.Id })
        </span>
    </nav>
</footer>
