@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentDetailsViewModel

@{
    ViewBag.Title = ContentConstants.DeafultEditPageTitle;
}

@Styles.Render("~/Content/documentEdit")

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(ContentConstants.DefaultEditActionLinkTitle, nameof(FilesController.Edit), routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(@ContentConstants.DefaultPreviewActionLinkTitle, nameof(FilesController.Preview), routeValues: new { id = Model.Id }, htmlAttributes: new { target = "_blank" })</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink(ContentConstants.DefaultBackToListActionLinkTitle, nameof(FilesController.Index))</li>
                <li onclick="save()"><a>Save</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="editor-container"></div>

<div class="clearfix"></div>

@Html.ActionLink("Save", nameof(FilesController.SaveXml), routeValues: new { id = Model.Id }, htmlAttributes: new { id = "save-link", style = "display: none;" })

<script src="~/bower_components/jquery/dist/jquery.js"></script>
<script src="~/bower_components/cryptojs-sha1/cryptojs-sha1.js"></script>
<script src="~/bower_components/toastr/toastr.js"></script>
<script src="~/Scripts/custom/toastrConfig.js"></script>
<script src="~/Scripts/custom/jsonRequester.js"></script>
<script>
    window.initialContent = @Html.Raw(Json.Encode(Model.Content));
    window.saveLinkAddress = $('#save-link').attr('href');
</script>
<script src="~/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="~/Scripts/custom/documentEdit.js"></script>
