@{
    ViewBag.Title = Resources.Strings.HelpPageTitle;
}

<header>
    <h2>
        @Resources.Strings.HelpPageHeading
    </h2>
</header>

<hr />

<section>
    <h3>Keyboard shortcuts</h3>
    <section>
        <h4>View <em>@nameof(FilesController.Index)</em></h4>
        <dl class="dl-horizontal">
            <dt>U</dt>
            <dd>Upload new file.</dd>

            <dt>Home</dt>
            <dd>Go to first page.</dd>

            <dt>End</dt>
            <dd>Go to last page.</dd>

            <dt>Page Up</dt>
            <dd>Go to next page.</dd>

            <dt>Page Down</dt>
            <dd>Go to previous page.</dd>
        </dl>
    </section>

    <section>
        <h4>View <em>@nameof(FilesController.Preview)</em></h4>
        <dl class="dl-horizontal">
            <dt>Ctrl + S</dt>
            <dd>Save document.</dd>

            <dt>Ctrl + R</dt>
            <dd>Refresh document content.</dd>

            <dt>Ctrl + B</dt>
            <dd>Wrap selected text in <strong>bold</strong> tag.</dd>

            <dt>Ctrl + I</dt>
            <dd>Wrap selected text in <strong>italic</strong> tag.</dd>

            <dt>Ctrl + U</dt>
            <dd>Wrap selected text in <strong>underline</strong> tag.</dd>

            <dt>Alt + A</dt>
            <dd>Wrap selected text in <strong>abbrev</strong> tag.</dd>

            <dt>Alt + D</dt>
            <dd>Wrap selected text in <strong>def/p</strong> tag.</dd>
        </dl>
    </section>

    <section>
        <h4>View <em>@nameof(FilesController.Edit)</em></h4>
        <dl class="dl-horizontal">
            <dt>Ctrl + S</dt>
            <dd>Save document.</dd>

            <dt>Ctrl + R</dt>
            <dd>Refresh document content.</dd>
        </dl>
    </section>
</section>

<hr />

<footer>
    <p>
        @Html.ActionLink(Resources.Strings.DefaultBackToListActionLinkTitle, nameof(FilesController.Index))
    </p>
</footer>
