@model ProcessingTools.Web.Common.ViewModels.ListWithPagingViewModel<ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentViewModel>

@{
    ViewBag.Title = Resources.Strings.ListOfFilesPageTitle;
}

<header>
    <h2>
        @Resources.Strings.ListOfFilesPageHeading
    </h2>
</header>

<p class="separated-items">
    <span class="item">
        @Html.ActionLink(
            linkText: Resources.Strings.DefaultUploadNewFileActionLinkTitle,
            actionName: nameof(FilesController.Upload),
            routeValues: null,
            htmlAttributes: new { id = "upload-file-link" })
    </span>
    <span class="item">
        @Html.ActionLink(
            linkText: Resources.Strings.HelpActionLinkTitle,
            actionName: nameof(FilesController.Help),
            routeValues: null,
            htmlAttributes: new { target = "_blank" })
    </span>
</p>

@if (Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.LabelFor(model => model.Items.First().FileName)
                </th>
                <th>
                    @Html.LabelFor(model => model.Items.First().DateCreated)
                </th>
                <th>
                    @Html.LabelFor(model => model.Items.First().DateModified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
                foreach (var item in Model.Items)
                {
                    ++counter;
                    <tr>
                        <td>
                            @counter
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>
                        <td class="separated-items">
                            <span class="item">
                                @Html.ActionLink(
                                    linkText: Resources.Strings.DefaultPreviewActionLinkTitle,
                                    actionName: nameof(DocumentsController.Preview),
                                    controllerName: ControllerNames.DocumentsControllerName,
                                    routeValues: new { id = item.Id },
                                    htmlAttributes: null)
                            </span>
                            <span class="item">
                                @Html.ActionLink(
                                    linkText: Resources.Strings.DefaultEditActionLinkTitle,
                                    actionName: nameof(DocumentsController.Edit),
                                    controllerName: ControllerNames.DocumentsControllerName,
                                    routeValues: new { id = item.Id },
                                    htmlAttributes: null)
                            </span>
                            <span class="item">
                                @Html.ActionLink(
                                    linkText: Resources.Strings.DefaultDetailsActionLinkTitle,
                                    actionName: nameof(FilesController.Details),
                                    routeValues: new { id = item.Id })
                            </span>
                            <span class="item">
                                @Html.ActionLink(
                                    linkText: Resources.Strings.DefaultDeleteActionLinkTitle,
                                    actionName: nameof(FilesController.Delete),
                                    routeValues: new { id = item.Id })
                            </span>
                            <span class="item">
                                @Html.ActionLink(
                                    linkText: Resources.Strings.DefaultDownloadActionLinkTitle,
                                    actionName: nameof(FilesController.Download),
                                    routeValues: new { id = item.Id })
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <footer>
        @Html.Partial(ViewNames.NavigationFootPartialViewName)
    </footer>
}

@section Scripts{
    @Scripts.Render(BundleNames.FilesIndexScriptBundleName)
}
