@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentViewModel

@{
    ViewBag.Title = ContentConstants.DeafultPreviewPageTitle;
}

@Styles.Render(BundleNames.DocumentPreviewStyleBundleName)

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(ContentConstants.DefaultPreviewActionLinkTitle, nameof(FilesController.Preview), routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(@ContentConstants.DefaultEditActionLinkTitle, nameof(FilesController.Edit), routeValues: new { id = Model.Id }, htmlAttributes: new { target = "_blank" })</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tag manually <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Figures citations</a></li>
                        <li><a>Tables citations</a></li>
                        <li><a>Suppl. materials citations</a></li>
                        <li><a>Appendices citations</a></li>
                        <li><a>Bibliographic citations</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Coordinates</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Lower taxa</a></li>
                        <li><a>Higher taxa</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Window <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="window.documentPreviewActions.genrateCoordinatesList('#aside-main-box');">Coordinates</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink(ContentConstants.DefaultBackToListActionLinkTitle, nameof(FilesController.Index))</li>
                <li>@Html.ActionLink(ContentConstants.DefaultDownloadActionLinkTitle, nameof(FilesController.Download), new { id = Model.Id })</li>
                <li><a onclick="get()">Refresh</a></li>
                <li><a onclick="save()">Save</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="article" contextmenu="supermenu"></div>

<aside id="aside-main-box"></aside>

<div class="clearfix"></div>

<aside style="display: none;">
    @Html.ActionLink(ContentConstants.DefaultGetActionLinkTitle, nameof(FilesController.GetHtml), routeValues: new { id = Model.Id }, htmlAttributes: new { id = "get-link" })
    @Html.ActionLink(ContentConstants.DefaultSaveActionLinkTitle, nameof(FilesController.SaveHtml), routeValues: new { id = Model.Id }, htmlAttributes: new { id = "save-link" })
</aside>

<script>
    window.getLinkAddress = document.getElementById('get-link').href;
    window.saveLinkAddress = document.getElementById('save-link').href;
</script>

@section Scripts {
    @Scripts.Render(BundleNames.JQueryScriptBundleName)
    @Scripts.Render(BundleNames.InteractJSScriptBundleName)
    @Scripts.Render(BundleNames.CryptoJSScriptBundleName)
    @Scripts.Render(BundleNames.ToastrScriptBundleName)
    @Scripts.Render(BundleNames.ApplicationScriptBundleName)
    @Scripts.Render(BundleNames.DocumentPreviewScriptBundleName)
    @Scripts.Render(BundleNames.KeyBindingsScriptBundleName)
    @*@Scripts.Render(BundleNames.AutoSaveScriptBundleName)*@
}

<menu type="context" id="supermenu">
    <menuitem label="Refresh" onclick="get()"></menuitem>
    <menu label="Share on...">
        <menuitem label="Twitter" icon="ico_twitter.png" onclick="window.open('//twitter.com/intent/tweet?text='+window.location.href);"></menuitem>
        <menuitem label="Facebook" icon="ico_facebook.png" onclick="window.open('//facebook.com/sharer/sharer.php?u='+window.location.href);"></menuitem>
    </menu>
    <menuitem label="Email This Page" onclick="window.location='mailto:?body='+window.location.href;"></menuitem>
    <menuitem label="Foo" onclick="window.documentPreviewActions.foo()"></menuitem>
    <menuitem label="Tag link" onclick="window.documentPreviewActions.tagLink()"></menuitem>
    <menuitem label="Tag coordinate" onclick="window.documentPreviewActions.tagInSpan('locality-coordinates')"></menuitem>
    <menu label="Bibliography">
        @{
            var tags = new string[] { "article-title", "source", "volume", "issue", "fpage", "lpage", "comment" };
            foreach (var tag in tags)
            {
                <menuitem label="Tag @tag" onclick="window.documentPreviewActions.tagInMark('@tag')"></menuitem>
            }
        }
    </menu>
</menu>

