@model ProcessingTools.Web.Models.Documents.Journals.JournalDetailsViewModel
@{
    ViewData[ContextKeys.Title] = "Journal Details";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Invalid view model.</div>
    }
    else
    {
        <dl class="row">
            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.Name)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.Name)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.AbbreviatedName)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.AbbreviatedName)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.JournalId)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.JournalId)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.PrintIssn)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.PrintIssn)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.ElectronicIssn)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.ElectronicIssn)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.Publisher.Name)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.Publisher.Name)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.JournalStyle.Name)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.JournalStyle.Name)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.NumberOfArticles)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.NumberOfArticles)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.CreatedBy)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.CreatedBy)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.CreatedOn)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.CreatedOn)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.ModifiedBy)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.ModifiedBy)</dd>

            <dt class="col-md-2 bold">@Html.DisplayNameFor(m => m.ModifiedOn)</dt>
            <dd class="col-md-10">@Html.DisplayFor(m => m.ModifiedOn)</dd>
        </dl>
        <div class="row">
            <div class="col-md-12">
                <a asp-action="@(JournalsController.IndexActionName)" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    }
    <footer class="page-navigation">
        <p><a asp-action="@(JournalsController.IndexActionName)">Back to List</a></p>
    </footer>
</section>
