@using Microsoft.AspNet.Identity
@using ProcessingTools.Web.Constants
@using ProcessingTools.Web.Controllers
@using Strings = ProcessingTools.Web.Resources.Views.Shared.Strings
@if (this.Request.IsAuthenticated)
{
    using (Html.BeginForm(
        actionName: AccountController.LogOffActionName,
        controllerName: AccountController.ControllerName,
        routeValues: new { area = AreaNames.DefaultArea },
        method: FormMethod.Post,
        htmlAttributes: new
        {
            id = "logoutForm",
            @class = "navbar-right"
        }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(
                    linkText: string.Format(Strings.GreetingActionLinkTitle, this.User.Identity.GetUserName()),
                    actionName: ManageController.IndexActionName,
                    controllerName: ManageController.ControllerName,
                    routeValues: new { area = AreaNames.DefaultArea },
                    htmlAttributes: new { title = Strings.ManageActionLinkTitle })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">@Strings.LogOutActionLinkTitle</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(
                linkText: Strings.RegisterActionLinkTitle,
                actionName: AccountController.RegisterActionName,
                controllerName: AccountController.ControllerName,
                routeValues: new { area = AreaNames.DefaultArea },
                htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink(
                linkText: Strings.LogInActionLinkTitle,
                actionName: AccountController.LoginActionName,
                controllerName: AccountController.ControllerName,
                routeValues: new { area = AreaNames.DefaultArea },
                htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
