@using ProcessingTools.Web.Constants
@using ProcessingTools.Web.Controllers
@using Strings = ProcessingTools.Web.Resources.Views.Shared.Strings
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(
                linkText: ProcessingTools.Constants.Web.ContentConstants.ApplicationName,
                actionName: HomeController.IndexActionName,
                controllerName: HomeController.ControllerName,
                routeValues: new { area = AreaNames.DefaultArea },
                htmlAttributes: new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink(
                        linkText: Strings.HomeActionLinkTitle,
                        actionName: RouteValues.IndexActionName)
                </li>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[Data]] <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Bio Data</li>
                            <!-- TODO -->
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Geo Data</li>
                            <li>
                                @Html.ActionLink(
                                    linkText: "Geo Names",
                                    actionName: ProcessingTools.Web.Areas.Data.Controllers.GeoNamesController.IndexActionName,
                                    controllerName: ProcessingTools.Web.Areas.Data.Controllers.GeoNamesController.ControllerName,
                                    routeValues: new
                                    {
                                        area = AreaNames.Data
                                    },
                                    htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: "Geo Epithets",
                                    actionName: ProcessingTools.Web.Areas.Data.Controllers.GeoEpithetsController.IndexActionName,
                                    controllerName: ProcessingTools.Web.Areas.Data.Controllers.GeoEpithetsController.ControllerName,
                                    routeValues: new
                                    {
                                        area = AreaNames.Data
                                    },
                                    htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: "Continents",
                                    actionName: ProcessingTools.Web.Areas.Data.Controllers.ContinentsController.IndexActionName,
                                    controllerName: ProcessingTools.Web.Areas.Data.Controllers.ContinentsController.ControllerName,
                                    routeValues: new
                                    {
                                        area = AreaNames.Data
                                    },
                                    htmlAttributes: null)
                            </li>
                        </ul>
                    </li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.HelpActionLinkTitle <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink(
                                linkText: Strings.HelpActionLinkTitle,
                                actionName: RouteValues.HelpActionName,
                                routeValues: null,
                                htmlAttributes: new { target = "_blank" })
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            @Html.ActionLink(
                                linkText: Strings.ContactActionLinkTitle,
                                actionName: HomeController.ContactActionName,
                                controllerName: HomeController.ControllerName,
                                routeValues: new { area = AreaNames.DefaultArea },
                                htmlAttributes: null)
                        </li>
                        <li>
                            @Html.ActionLink(
                                linkText: Strings.AboutActionLinkTitle,
                                actionName: HomeController.AboutActionName,
                                controllerName: HomeController.ControllerName,
                                routeValues: new { area = AreaNames.DefaultArea },
                                htmlAttributes: null)
                        </li>
                    </ul>
                </li>
            </ul>
            @Html.Partial(ViewNames.DefaultLoginPartial)
        </div>
    </div>
</nav>