@using ProcessingTools.Web.Documents.App_GlobalResources
@model ProcessingTools.Web.Common.ViewModels.ListWithPagingViewModel<ProcessingTools.Web.Documents.Areas.DataResources.ViewModels.ContentTypes.Contracts.IContentTypeIndexViewModel>

@{
    ViewBag.Title = Strings.DeafultIndexPageTitle;
}

<header>
    <h2>@Strings.DeafultIndexPageHeading</h2>

    <p>
        @Html.ActionLink(
            linkText: Strings.DefaultCreateActionLinkTitle,
            actionName: nameof(ContentTypesController.Create))
    </p>
</header>

@if (Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => ((ProcessingTools.Contracts.INameable)model.Items.First()).Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var id = ((ProcessingTools.Contracts.IIntegerIdentifiable)item).Id;

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ((ProcessingTools.Contracts.INameable)item).Name)
                    </td>
                    <td class="separated-items">
                        <span class="item">
                            @Html.ActionLink(
                                linkText: Strings.DefaultEditActionLinkTitle,
                                actionName: nameof(ContentTypesController.Edit),
                                routeValues: new { id = id })
                        </span>
                        <span class="item">
                            @Html.ActionLink(
                                linkText: Strings.DefaultDetailsActionLinkTitle,
                                actionName: nameof(ContentTypesController.Details),
                                routeValues: new { id = id })
                        </span>
                        <span class="item">
                            @Html.ActionLink(
                                linkText: Strings.DefaultDeleteActionLinkTitle,
                                actionName: nameof(ContentTypesController.Delete),
                                routeValues: new { id = id })
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <footer>
        @Html.Partial(ViewNames.NavigationFootPartialViewName)
    </footer>
}
