@using Bundles = ProcessingTools.Constants.Web.BundleNames
@using Content = ProcessingTools.Constants.Web.ContentConstants
@using Sections = ProcessingTools.Constants.Web.SectionNames
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page" />
    <title>@this.ViewBag.Title - @Content.ApplicationName</title>
    @Styles.Render(Bundles.DefaultStyles)
    @RenderSection(Sections.Styles, required: false)
    @Scripts.Render(Bundles.ModernizrScripts)
</head>
<body>
    @Html.Partial(ProcessingTools.Web.Constants.ViewNames.DefaultNavigationBar)
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - @Content.CopyrightHolder</p>
        </footer>
    </div>
    @Scripts.Render(Bundles.JQueryScripts)
    @Scripts.Render(Bundles.BootstrapScripts)
    @Scripts.Render(Bundles.DefaultScripts)
    @RenderSection(Sections.Scripts, required: false)
</body>
</html>
