<div class="container">
    <hr />
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; @(DateTime.Now.Year) - ProcessingTools.Web.Documents</small>
        </div>
        <!-- <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div> -->
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.IndexActionName)">Home</a></li>
                <li><a class="text-muted" href="https://github.com/bozhink/ProcessingTools/wiki/Tagger-Documentation">Tagger Documentation</a></li>
                <li><a class="text-muted" href="https://github.com/bozhink/ProcessingTools/wiki/Cheat-Sheet">Cheat Sheet</a></li>
                <li><a class="text-muted" href="https://github.com/bozhink/ProcessingTools/wiki/Regular-Expressions">Regular Expressions</a></li>
                <li><a class="text-muted" href="https://github.com/bozhink/ProcessingTools/wiki/Useful-External-Links">Useful External Links</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.ContactActionName)">Contact</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.AboutActionName)">About</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.PrivacyActionName)">Privacy</a></li>
                <li><a class="text-muted" href="https://www.gnu.org/licenses/gpl.html">Terms</a></li>
            </ul>
        </div>
    </div>
</div>
