<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.IndexActionName)" class="navbar-brand">PTWD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-action="@(ActionNames.Index)"><span class="fa fa-home"></span><span class="sr-only">(home)</span></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="layoutNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layout <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="layoutNavbarDropdown">
                        <li><a asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectTagStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectTagStylesController.IndexActionName)" class="dropdown-item">Float Object Tag Styles</a></li>
                        <li><a asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectParseStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.FloatObjectParseStylesController.IndexActionName)" class="dropdown-item">Float Object Parse Styles</a></li>
                        <li><a asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceTagStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceTagStylesController.IndexActionName)" class="dropdown-item">Reference Tag Styles</a></li>
                        <li><a asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceParseStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.ReferenceParseStylesController.IndexActionName)" class="dropdown-item">Reference Parse Styles</a></li>
                        <li><a asp-area="@(AreaNames.Layout)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.JournalStylesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Layout.Controllers.JournalStylesController.IndexActionName)" class="dropdown-item">Journal Styles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="journalsNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documents <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="journalsNavbarDropdown">
                        <li><a asp-area="@(AreaNames.Documents)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Documents.Controllers.PublishersController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Documents.Controllers.PublishersController.IndexActionName)" class="dropdown-item">Publishers</a></li>
                        <li><a asp-area="@(AreaNames.Documents)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Documents.Controllers.JournalsController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Documents.Controllers.JournalsController.IndexActionName)" class="dropdown-item">Journals</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a asp-area="@(AreaNames.Documents)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Documents.Controllers.ArticlesController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Documents.Controllers.ArticlesController.IndexActionName)" class="dropdown-item">Articles</a></li>
                    </ul>
                </li>
                }
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="helpNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="helpNavbarDropdown">
                            <li><a asp-action="@(ActionNames.Help)" target="_blank">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.ContactActionName)">Contact</a></li>
                            <li><a asp-area="" asp-controller="@(HomeController.ControllerName)" asp-action="@(HomeController.AboutActionName)">About</a></li>
                        </ul>
                    </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>